@(controller: de.htwg.se.stratego.controller.GameEngine)
@size= @{ controller.gb.size }

@main("Stratego in Scala for WebTech") {
    <div id="wrapper">
        <div id="gameview-wrapper">
            <h1>Game View</h1>
            <table>
                <th></th>
                @for(index <- 1 until size + 1) {
                    <th>@{index}</th>
                }
                @for(col <- 1 until size + 1) {
                    <tr>
                        <th>@{col}</th>
                        @for(row <- 1 until size + 1) {
                            <td>@{controller.get(de.htwg.se.stratego.model.boardComponent.Coordinates(row, col)).toString()}</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>

}
