@(controller: de.htwg.se.stratego.controller.GameEngine)
@size= @{ controller.gb.size }

@main("Stratego in Scala for WebTech") {
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
        <a class="navbar-brand" href="/">Game</a>
        <a class="navbar-brand" href="/about">About</a>
    </nav>
    <div id="wrapper" class="container">
        <div id="gameview-wrapper">
            <h1>Game View</h1>
            <table class="table-bordered">
                <th width="30px" height="30px"></th>
                @for(index <- 1 until size + 1) {
                    <th width="30px" height="30px">@{index}</th>
                }
                @for(col <- 1 until size + 1) {
                    <tr>
                        <th width="30px" height="30px">@{col}</th>
                        @for(row <- 1 until size + 1) {
                            <td width="30px" height="30px" id="row@(row)col@(col)">
                                @{ if (controller.get(de.htwg.se.stratego.model.boardComponent.Coordinates(row, col)).toString() == "F") {
                                        "\uD83C\uDFF4"
                                    } else if (controller.get(de.htwg.se.stratego.model.boardComponent.Coordinates(row, col)).toString() == "B") {
                                        "\uD83D\uDCA3"
                                    } else {
                                        controller.get(de.htwg.se.stratego.model.boardComponent.Coordinates(row, col)).toString()
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </table>

            <br>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select figure
                </button>
                <div class="dropdown-menu selectbuttons" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" select="0">Flag (&#127988;)</a>
                    <a class="dropdown-item" select="1">Spy (1)</a>
                    <a class="dropdown-item" select="2">Scout (2)</a>
                    <a class="dropdown-item" select="3">Miner (3)</a>
                    <a class="dropdown-item" select="4">Sergeant (4)</a>
                    <a class="dropdown-item" select="5">Lieutenant (5)</a>
                    <a class="dropdown-item" select="6">Captain (6)</a>
                    <a class="dropdown-item" select="7">Major (7)</a>
                    <a class="dropdown-item" select="8">Colonel (8)</a>
                    <a class="dropdown-item" select="9">General (9)</a>
                    <a class="dropdown-item" select="10">Marshal (10)</a>
                    <a class="dropdown-item" select="11">Bomb (&#128163;)</a>
                </div>
                <button class="btn btn-primary" id="newGameButton">New Game</button>
            </div>
        </div>
    </div>

}
